body {
    background: #bdbdbd;
    margin: 0;
}

div {
    box-sizing: border-box;
}

header {
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

div.post {
    background: white;
    margin-top: 10px;
}

/* Para que la imagen se mantenga contenida siempre en un tamaño fijo, pero manteniendo siempre sus proporciones, utilizo object-fit contain, 
en caso de querer que se encaje la imagen en el contenedor y aproveche el 100% del mismo (pudiendo quedar un trozo de imagen por fuera si no es cuadrada) se puede aplicar object-fit none */

div.post img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 20%; 
    padding: 10px;
    text-align: right;
    color: grey;
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}